@use "@/styles/typography" as t;
@use "@/styles/variables" as v;
@use "@/styles/breakpoints" as bp;

.contact-panel {
  display: flex;
  gap: 16px;
}

.contact-link {
  position: relative;

  display: flex;
  align-items: center;

  padding: 16px 58px 16px 16px;

  font-family: v.$manrope-font;
  @include t.text(14px, 1, 700);
  text-transform: uppercase;

  color: #0A0A0A;
  background-color: #D3E97A;
  border-radius: 26px;

  @include bp.hover {
    .icon {
      transition: transform 0.3s ease;
      transform: scale(0.25);

      & svg {
        opacity: 0;

        transition: opacity 0.2s ease, transform 0.3s ease;
        transform: translate(-6px, 6px);
      }
    }

    &:hover,
    &:focus-visible {
      .icon {
        transform: none;

        & svg {
          opacity: 1;

          transition-delay: 0.1s;
          transform: none;
        }
      }
    }
  }
}

.icon {
  position: absolute;
  top: 4px;
  right: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: #0A0A0A;
  border-radius: 50px;

  & svg {
    width: 20px;
    height: 20px;

    & path {
      fill: #FFF;
    }
  }
}

.social-link {
  padding: 12px;

  background-color: #222222;
  border-radius: 50px;

  & svg {
    width: 24px;
    height: 24px;

    & path {
      fill: #D3E97A;
    }
  }
}
