@use "@/styles/typography" as t;
@use "@/styles/variables" as v;

.hero {
  display: flex;
  flex-direction: column;
  gap: 64px;

  padding-top: 40px;
  padding-bottom: 64px;

  border-bottom: 1px solid #484848;

  .intro {
    .title {
      padding-bottom: 12px;

      font-family: v.$bebas-neue-font;
      @include t.text(57px, 1);
      text-transform: uppercase;

      color: #FFF;
    }

    .description {
      padding-bottom: 32px;

      font-family: v.$manrope-font;
      @include t.text(16px, 1.6);

      color: #C7C7C7;
    }
  }

  .photo {
    width: 100%;
    height: auto;

    border-radius: 16px;
  }
}
