@use "@/styles/typography" as t;
@use "@/styles/variables" as v;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  padding-top: 32px;
  padding-bottom: 32px;

  .logo {
    font-family: v.$heading-font;
    @include t.text(32px, 1, 700);
    letter-spacing: -1%;

    color: #C7C7C7;
  }
}
