@use "@/styles/typography" as t;
@use "@/styles/variables" as v;

.text-link {
  display: inline-flex;
  align-items: center;
  gap: 4px;

  padding-bottom: 4px;

  font-family: v.$manrope-font;
  @include t.text(14px, 1.5, 700);
  text-transform: uppercase;

  color: #D3E97A;
  border-bottom: 2px solid #D3E97A;

  .icon {
    width: 22px;
    height: 22px;
  }
}
